<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recruiter Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container mt-5">

<h1 class="text-center text-primary mb-4">Recruiter Dashboard</h1>

<div th:each="job : ${jobs}" class="card mb-4 p-3 shadow">

    <h4 th:text="${job.title}"></h4>
    <p th:text="${job.description}"></p>

    <p><strong>Applicants:</strong></p>

    <div th:if="${applicationsMap[job.id] == null or #lists.isEmpty(applicationsMap[job.id])}">
        <p>No applicants yet</p>
    </div>

    <div th:each="app : ${applicationsMap[job.id]}">

        <p>
            <strong>Email:</strong>
            <span th:text="${app.userEmail}"></span>
        </p>

        <a th:href="@{/resume/{id}(id=${app.id})}"
           class="btn btn-sm btn-outline-primary mb-2">
            Download Resume
        </a>

    </div>
</div>
</body>
</html>